body {
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}

p {
    font-size: x-large;
}

#parentGrid{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.row{
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    width: 480px;
}
