body {
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    font-size: x-large;
}

#parentGrid{
    display: flex;
    flex-direction: column;
    align-content: center;
    border: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 10px;
}

#square1-1{
    border-top-left-radius: 10px;
}

#square1-16{
    border-top-right-radius: 10px;
}

#square16-1{
    border-bottom-left-radius: 10px;
}

#square16-16{
    border-bottom-right-radius: 10px;
}

#row1 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#row16 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.row{
    display: flex;
    justify-content: space-evenly;
    height: 30px;
    width: 480px;
}

.square {
    width: 30px;
}

button {
    color: white;
    background-color: black;
    border-radius: 20px;
    border: 1px;
    border: none;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 6px;
    padding-bottom: 6px;
}

#resetBtn {
    margin-top: 20px;
}
